$break-xs: 20em;
$break-sm: 34em;
$break-md: 48em;
$break-lg: 62em;
$break-xl: 75em;

@mixin media($sizes...) {
  @each $size in $sizes {

    @if $size == below-xs {
      @media only screen and (max-width: $break-xs - 0.001em) {
        @content;
      }
    }
    @else if $size == below-sm {
      @media only screen and (max-width: $break-sm - 0.001em) {
        @content;
      }
    }
    @else if $size == below-md {
      @media only screen and (max-width: $break-md - 0.001em) {
        @content;
      }
    }
    @else if $size == below-lg {
      @media only screen and (max-width: $break-lg - 0.001em) {
        @content;
      }
    }
    @else if $size == below-xl {
      @media only screen and (max-width: $break-xl - 0.001em) {
        @content;
      }
    }

    @else if $size == above-xs {
      @media only screen and (min-width: $break-xs) {
        @content;
      }
    }
    @else if $size == above-sm {
      @media only screen and (min-width: $break-sm) {
        @content;
      }
    }
    @else if $size == above-md {
      @media only screen and (min-width: $break-md) {
        @content;
      }
    }
    @else if $size == above-lg {
      @media only screen and (min-width: $break-lg) {
        @content;
      }
    }
    @else if $size == above-xl {
      @media only screen and (min-width: $break-xl) {
        @content;
      }
    }

    @else if $size == height-below-md {
      @media only screen and (max-height: $break-md - 0.001em) {
        @content;
      }
    }
    @else if $size == height-below-sm {
      @media only screen and (max-height: $break-sm - 0.001em) {
        @content;
      }
    }
    @else if $size == height-below-xs {
      @media only screen and (max-height: $break-xs - 0.001em) {
        @content;
      }
    }
    @else if $size == height-below-iphone-landscape {
      @media only screen and (max-height: 400px) {
        @content;
      }
    }
    @else if $size == height-above-md {
      @media only screen and (min-height: $break-md) {
        @content;
      }
    }

  }
}
