/*
  INDEX
*/

.index {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__category-select {
    width: 100%;
    height: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $twitch-purple;
    padding: 2rem;
    color: white;
    .index__category-tagline {
      margin-bottom: 2rem;
      font-size: 2.5rem;
      text-align: center;
    }
  }

  &__stream-list {
    padding: 2rem 1rem;
    max-width: 940px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__stream-item {
    padding: 0 0.5rem;
    img {
      max-width: 230px;
    }
    margin-bottom: 1rem;
  }
}
