* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:visited {
    color: inherit;
    text-decoration: none;
  }
  &:active {
    color: inherit;
    text-decoration: none;
  }
}
