@import "ember-power-select";
$eps-dropdown-height: 2.5rem;
$eps-dropdown-width: 25rem;
$eps-line-height: 2.3rem;
$eps-left-padding: 0.5rem;

.ember-power-select-trigger {
  width: $eps-dropdown-width;
  height: $eps-dropdown-height;
  color: $twitch-purple;
  @include media(below-md) {
    width: 15rem;
  }
}
.ember-power-select-placeholder {
  line-height: $eps-line-height;
  padding-left: $eps-left-padding;
}

.ember-power-select-selected-item {
  line-height: $eps-line-height;
  padding-left: $eps-left-padding;
}
