$font: 	Helvetica Neue, Helvetica, sans-serif;

/*
  GLOBAL
*/
@import 'colors';
@import 'resets';
@import 'breakpoints';

/*
  VENDOR
*/
@import 'vendor';

/*
  ROUTES
*/
@import 'index';

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $twitch-purple;
}

body {
  font-family: $font;
  width: 100%;
  min-height: 100vh;
  background: $twitch-light-grey;
}

body > .ember-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

$header-padding: 1.5rem;

header {
  width: 100%;
  background: $twitch-light-grey;
  padding: $header-padding;
  font-size: 2em;

}

footer {
  width: 100%;
  padding: $header-padding;
  background: $twitch-purple;
  color: white;
  a {
    padding: 0 0.5rem;
  }
}

.body-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
