<header>
  Twitch Streams by Category
</header>

<main class="body-content-container">
  {{outlet}}
</main>

<footer>
  <a href="mailto:michaeljy@gmail.com">Michael Young</a> | <a href="https://twitter.com/immichaelyoung" target="_blank">@imMichaelYoung</a> | <a href="https://www.linkedin.com/in/michaeljy" target="_blank">LinkedIn</a> | <a href="https://github.com/mjyoung" target="_blank">GitHub</a> | <a href="http://www.immichaelyoung.com/" target="_blank">Website</a>
</footer>