<section class="index">

  <div class="index__category-select">
    <h1 class="index__category-tagline">I want to watch someone stream . . .</h1>
    <div class="index__category-search">
      {{#power-select
        options=categories
        onchange=(action "selectCategory")
        placeholder="Type or select a category."
        selected=selectedCategory
        as |category|
      }}
        {{category}}
      {{/power-select}}
    </div>
  </div>

  <div class="index__stream-list">
    {{#each model as |stream|}}
      <article class="index__stream-item">
        <a href="{{stream.url}}" target="_blank">
          <h3>{{stream.user}}</h3>
          <img src="{{stream.preview}}" />
          <div>{{stream.game}}</div>
          <!--<div>{{stream.status}}</div>-->
          <div>{{stream.viewers}} viewers</div>
        </a>
      </article>
    {{/each}}
  </div>

</section>